page-create-shared-objetive {
	.space{
		height: 10px
	}

	.item-md {
	    background-color: transparent;
	    color: white;
	    font-size: 14px;
	    min-height: 2px;
	    height: auto; 
	}

	.item_form{
		background: white;
    	border: solid 1px #999;
    	background-color: white;
    	border-radius: 7px;
    	color: #999
	}

	.item-inner{
		border-bottom: none !important;
		border-bottom-color: transparent !important;
		box-shadow: none !important;
	}

	.label_form{
		width: 25px;
	}

	.label_form img{
		width: 90%
	}

	.label_form_full{
		width: 100%
	}

	.item_fam{
		background: #999;
    	border-radius: 5px;
    	margin-bottom: 10px;
	}

	.list_family{
		height: auto;
		border-radius: 5px;
	}

	.on-list-header{
		margin-top: 0px;
    	border: none !important;
    	color: #333;
    	margin-bottom: 0px;
    	text-align: left;
	}

	.m_5{
		margin-bottom:5px;
	}
	
	.m_t{
		margin-bottom: 10px;
	}

	.no_s{
		display: none;
	}
}
