page-login {
	#form-login{
		margin-top: 20px;
		.item-input{
			margin-bottom: 15px;
		}
		.item-md{
			padding-left: 0px;
		}
	}
	.input_form_new{
		background: transparent;
		color:black;
	}
	#div_h{
		height: 40px
	}
	#img_log{
		width: 75%
	}
	.space{
		height: 40px;
	}
}
