<!--
  Generated template for the SharedObPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="head"> 
    <ion-grid>
        <ion-row align-items-center>
            <ion-col col-2 text-left>
                <ion-navbar></ion-navbar>
            </ion-col>
            <ion-col class="div_img" col-8>
                <img src="../../assets/imgs/logolargoblanco.png" class="logo_imm">
                <div class="dropdown">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content id="bod">
    <div no-padding>
        <ion-grid no-padding id="grid2">
            <ion-row no-padding align-items-center>
                <ion-col col-3 id="pad-5">
                    <p>Nice job</p>
                </ion-col>
                <ion-col class="div_img" col-6>
                    <p>This is a 468x60 test ad.</p>
                </ion-col>
                <ion-col class="div_img" col-3>
                    <img src="../../assets/imgs/tab2@3x.png" class="img_icon">
                </ion-col>
            </ion-row>
        </ion-grid> 
    </div>
    <ion-grid no-padding id="grid_title">
        <ion-row no-padding align-items-center>
            <ion-col col-2></ion-col>
            <ion-col col-2 text-right>
                <img src="../../assets/imgs/objcompartidos.png" alt="" id="img_title">
            </ion-col>
            <ion-col col-8 text-left id="text_title">
                Objetivos compartidos
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="contenedor" (click)="createSharedOb()" *ngIf="userDetails && userDetails.younger != 1">
        <button class="but_add">
          <span>+</span>
        </button>
    </div>
    <div class="contenedor" (click)="actBlock()" *ngIf="userDetails && userDetails.younger == 1">
        <button class="but_add">
          <span>+</span>
        </button>
    </div>
    <ion-grid no-padding *ngFor="let p of userShaOb" class="grid_bojetives">
        <ion-row padding-left align-items-center (click)="editSb(p)" *ngIf="p.status == 0">
            <ion-col col-9 text-left>
                <p class="date_ob">
                    <b>{{ p.format_date }}</b>
                </p>
                <h6 class="title_ob">
                    {{ p.name }}
                </h6>
                <small>{{ p.description }}</small>
            </ion-col>
            <ion-col col-3 text-center>
                <p class="text-danger" *ngIf="p.status == 0">
                    <b>{{ p.statusText }}</b>
                </p>
                <p class="text-success" *ngIf="p.status != 0">
                    <b>{{ p.statusText }}</b>
                </p>
            </ion-col>
        </ion-row>
        <ion-row padding-left align-items-center (click)="viewSb(p)" *ngIf="p.status != 0">
            <ion-col col-9 text-left>
                <p class="date_ob">
                    <b>{{ p.format_complete_date }}</b>
                </p>
                <h6 class="title_ob">
                    {{ p.name }}
                </h6>
                <small>{{ p.description }}</small>
            </ion-col>
            <ion-col col-3 text-center>
                <p class="text-danger" *ngIf="p.status == 0">
                    <b>{{ p.statusText }}</b>
                </p>
                <p class="text-success" *ngIf="p.status != 0">
                    <b>{{ p.statusText }}</b>
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid id="no_results" *ngIf="userShaOb.length < 1">
        <ion-row padding-left align-items-center>
            <ion-col col-12 text-center>
                <h3>
                    Sin objetivos compartidos <br>
                </h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- <div id="las_pu">
        <ion-grid no-padding id="grid3">
            <ion-row no-padding align-items-center>
                <ion-col col-3 id="pad-5">
                    <p>Nice job</p>
                </ion-col>
                <ion-col class="div_img" col-6>
                    <p>This is a 468x60 test ad.</p>
                </ion-col>
                <ion-col class="div_img" col-3>
                    <img src="../../assets/imgs/tab2@3x.png" class="img_icon">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div> -->
</ion-content>
