<!--
  Generated template for the BlogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="head"> 
    <ion-grid>
        <ion-row align-items-center>
            <ion-col col-2 text-left>
                <ion-navbar></ion-navbar>
            </ion-col>
            <ion-col class="div_img" col-8>
                <img src="../../assets/imgs/logolargoblanco.png" class="logo_imm">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content id="bod">
    <div no-padding>
        <ion-grid no-padding id="grid2">
            <ion-row no-padding align-items-center>
                <ion-col col-3 id="pad-5">
                    <p>Nice job</p>
                </ion-col>
                <ion-col class="div_img" col-6>
                    <p>This is a 468x60 test ad.</p>
                </ion-col>
                <ion-col class="div_img" col-3>
                    <img src="../../assets/imgs/tab2@3x.png" class="img_icon">
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid no-padding id="grid_title">
            <ion-row no-padding align-items-center>
                <ion-col col-3></ion-col>
                <ion-col col-2 text-right>
                    <img src="../../assets/imgs/blog.png" alt="" id="img_title">
                </ion-col>
                <ion-col col-7 text-left id="text_title">
                    Blog
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid no-padding *ngFor="let p of news" class="grid_news">
            <ion-row align-items-center padding-top (click)="viewNew(p)">
                <ion-col col-12 text-center>
                    <img src="{{ p.cover }}" alt="" width="100%">
                </ion-col>
                <ion-col col-12 text-left>
                    <p class="title_new">
                        <b>{{ p.title }}</b>
                    </p>
                    <p class="content_new" [innerHTML]="p.content.substr(0,200).concat(' [...]')"></p>
                </ion-col>
                <ion-col col-11 text-right align-items-center>
                	<p class="new_date">
                		{{ p.format_date }}
                	</p>
                </ion-col>
				<ion-col col-1 text-center align-items-center>
                	<img src="../../assets/imgs/calendariogris.png" width="80%">
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid no-padding class="no_s">
            <ion-row align-items-center padding-right padding-left>
                <ion-col col-12 text-center align-items-center>
                    <button ion-button block color="primary" (click)="showMore()">Ver más</button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid id="no_results" *ngIf="news && news.length < 1">
            <ion-row padding-left align-items-center>
                <ion-col col-12 text-center>
                    <h3>
                        Sin Noticias del blog
                    </h3>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div id="las_pu">
        <ion-grid no-padding id="grid3">
            <ion-row no-padding align-items-center>
                <ion-col col-3 id="pad-5">
                    <p>Nice job</p>
                </ion-col>
                <ion-col class="div_img" col-6>
                    <p>This is a 468x60 test ad.</p>
                </ion-col>
                <ion-col class="div_img" col-3>
                    <img src="../../assets/imgs/tab2@3x.png" class="img_icon">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
