page-send-invitation {
	.input_form_new{
		background: white;
		color:black;
		border: solid .5px #999;
		box-shadow: none;
		border-radius: 5px;
	}

	.div_img{
		margin-top: -5%;
		margin-bottom: -5%;
	}

	.item-inner{ 
		border-bottom: none !important;
		border-bottom-color: transparent !important;
		box-shadow: none !important;
	}

	.label_form{
		width: 25px;
		margin-left: 7px;
	}

	.no_sha{
		box-shadow: none;
	}

	.text_p{
		color:#007794;
	}

	.toolbar-background-md{
		background: transparent;
	}
}
