page-select-user {

	#no_results{
		height: 270px;
	}

	.h4_name{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.row_family{
		margin-bottom: 10px;
	}

	.img_avatar{
		width: 90px;
		height: 90px;
		border-radius: 100%;
	}
}
