page-notifications {
	.grid_bojetives{
		padding-top: 0px !important;
		padding-bottom: 10px !important;
		margin-bottom: 10px;
		background-color: rgba(254, 249, 205 , .7);
	}

	.title_ob{
		margin-top: 0px;
    	margin-bottom: 0px;
	}

	.date_ob{
		margin-bottom: 0px;
		color:#007794;
	}
}
