page-younger-invi {
	.grid_bojetives{
		padding-top: 0px !important;
		padding-bottom: 10px !important;
		margin-bottom: 10px;
		background-color: rgba(254, 249, 205 , .7);
	}
	#no_results{
		height: 280px;
	}
	#b_add{
		background-color: transparent;
	}
	.date_ob{
		margin-bottom: 0px;
		color:#007794;
	}

	.title_ob{
		margin-top: 0px;
    	margin-bottom: 0px;
    	color: #999;
	}

	.text-danger{
		color: #FA8254;
	}

	.dan{
		background: #FA8254;
    	margin-top: -10px;
    	padding-top: 7px !important;
    	padding-bottom: 7px !important;
    	height: auto;
    	min-width: 90px;
	}

	.dan2{
		background: #32db64;
    	margin-top: -10px;
    	padding-top: 7px !important;
    	padding-bottom: 7px !important;
    	height: auto;
    	min-width: 90px;
	}

	.text-success{
		color:#73B75D;
	}
}
