page-view-activities {
	.grid_bojetives{
		padding-top: 0px !important;
		padding-bottom: 4px !important;
		margin-bottom: 10px;
		background-color: rgba(254, 249, 205 , .7);
	}
	#no_results{
		height: 280px;
	}
	#b_add{
		background-color: transparent;
	}
	.date_ob{
		margin-bottom: 0px;
		color:#007794;
	}

	.title_ob{
		margin-top: 5px;
    	margin-bottom: 0px;
    	color: #999;
	}

	.text-danger{
		color: #FA8254;
	}

	.text-success{
		color:#73B75D;
	}

	.button_act{
		height: 2.6rem;
    	font-size: 1.6rem;
	}
}
