<!--
  Generated template for the CreateFamilyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="head"> 
    <ion-grid>
        <ion-row align-items-center>
            <ion-col col-2 text-left>
                <ion-navbar></ion-navbar>
            </ion-col>
            <ion-col class="div_img" col-8>
                <img src="../../assets/imgs/logolargoblanco.png" class="logo_imm">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content id="bod">
    <div no-padding>
        <ion-grid no-padding id="grid2">
            <ion-row no-padding align-items-center>
                <ion-col col-3 id="pad-5">
                    <p>Nice job</p>
                </ion-col>
                <ion-col class="div_img" col-6>
                    <p>This is a 468x60 test ad.</p>
                </ion-col>
                <ion-col class="div_img" col-3>
                    <img src="../../assets/imgs/tab2@3x.png" class="img_icon">
                </ion-col> 
            </ion-row>
        </ion-grid>
    </div>
    <ion-grid no-padding id="grid_title">
        <ion-row no-padding align-items-center>
            <ion-col col-3></ion-col>
            <ion-col col-2 text-right>
                <img src="../../assets/imgs/mifamilia.png" alt="" id="img_title">
            </ion-col>
            <ion-col col-7 text-left id="text_title">
                Editar familiar
            </ion-col>
        </ion-row>
    </ion-grid>
    <div>
    	<ion-grid padding>
    		<ion-row>
    			<ion-col col-12>
    				<form (ngSubmit)="editFamily()" id="form_edit_family" enctype="multipart/form-data">
				        <div class="space"></div>
				        <ion-slides (ionSlideDidChange)="slideChanged()" pager>
				        	<!-- <ion-slide>
								<div id="file_div" (click)="showFiles()">
									<img id="img_preview">
									+<br>Agregar foto
								</div>
								<input type="file" name="avatar_file" class="file_input" id="input_file" accept='image/*' />
							</ion-slide> -->
							<ion-slide>
								<img src="../../assets/imgs/avatar0.png" class="img_avatar">
							</ion-slide>
							<ion-slide>
								<img src="../../assets/imgs/avatar1.png" class="img_avatar">
							</ion-slide>
							<ion-slide>
								<img src="../../assets/imgs/avatar2.png" class="img_avatar">
							</ion-slide>
							<ion-slide>
								<img src="../../assets/imgs/avatar3.png" class="img_avatar">
							</ion-slide>
							<ion-slide>
								<img src="../../assets/imgs/avatar4.png" class="img_avatar">
							</ion-slide>
							<ion-slide>
								<img src="../../assets/imgs/avatar5.png" class="img_avatar">
							</ion-slide>
							<ion-slide>
								<img src="../../assets/imgs/avatar6.png" class="img_avatar">
							</ion-slide>
							<ion-slide>
								<img src="../../assets/imgs/avatar7.png" class="img_avatar">
							</ion-slide>
							<ion-slide>
								<img src="../../assets/imgs/avatar8.png" class="img_avatar">
							</ion-slide>
							<ion-slide>
								<img src="../../assets/imgs/avatar9.png" class="img_avatar">
							</ion-slide>
							<ion-slide>
								<img src="../../assets/imgs/avatar10.png" class="img_avatar">
							</ion-slide>
							<ion-slide>
								<img src="../../assets/imgs/avatar11.png" class="img_avatar">
							</ion-slide>
							<ion-slide>
								<img src="../../assets/imgs/avatar12.png" class="img_avatar">
							</ion-slide>
						</ion-slides>
				        <div class="space"></div>
				      	<ion-item class="item_form">
				        	<ion-label class="label_form">
				        		<img src="../../assets/imgs/usuariogris.png" alt="">
				        	</ion-label>
				        	<ion-input type="text" name="name" placeholder="Nombre" [(ngModel)]="fa.name"></ion-input>
				      	</ion-item>
				        <div class="space"></div>
				      	<ion-item class="item_form">
				        	<ion-label class="label_form">
				        		<img src="../../assets/imgs/usuariogris.png" alt="">
				        	</ion-label>
				        	<ion-input type="text" name="nick" placeholder="Nick" [(ngModel)]="fa.nick"></ion-input>
				      	</ion-item>
				        <div class="space"></div>
				        <ion-item class="item_form">
						  <ion-label>¿Es menor de edad?</ion-label>
						  <ion-toggle [(ngModel)]="fa.younger" value="1" name="menor_age" (ionChange)="myChange()"></ion-toggle>
						</ion-item>
				        <div class="space"></div>
						<div no-padding [ngClass]="{'no_s':fa.younger == 0 , 'si_s':fa.younger == 1}">
				        	<div class="space"></div>
							<ion-item class="item_form">
							  	<ion-label position="floating">Fecha de nacimiento</ion-label>
							  	<ion-datetime name="born_date" displayFormat="DD MMMM YYYY" min="2002" doneText="Aceptar" cancelText="Cancelar" monthNames="Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre" [(ngModel)]="fa.born_date"></ion-datetime>
							</ion-item>
				        	<div class="space"></div>
							<ion-searchbar (ionInput)="getItems($event)" [(ngModel)]="t_s_n" name="t_n_s" class="search_b" placeholder="¿A que colegio asiste?">{{ fa.school_id }}</ion-searchbar>
				        	<div class="space"></div>
							<ion-list class="list_schools">
							  	<ion-item *ngFor="let item of items" (click)="addSchoolId(item)" id="scholl_{{ item.id }}" [ngClass]="{'item-radio-checked-2':fa.school_id == item.id ,'itemSc':fa.id}">
							    	{{ item.name }}
							  	</ion-item>
							</ion-list>
							<ion-list radio-group [(ngModel)]="fa.responsable_in_id" name="responsable">
				        		<div class="space"></div>
							  	<ion-list-header class="on-list-header">
							    	-Responsable del menor
							  	</ion-list-header>
							  	<ion-item class="item_form m_t">
							    	<ion-label>Yo</ion-label>
							    	<ion-radio value="{{ userDetails.id }}"></ion-radio>
							  	</ion-item>
							  	<ion-item class="item_form m_t" *ngFor="let f of f.family">
							    	<ion-label>{{ f.userInfo.name }}</ion-label>
							    	<ion-radio value="{{ f.userInfo.id }}"></ion-radio>
							  	</ion-item>
							</ion-list>	
							<!-- <ion-list radio-group [(ngModel)]="fa.responsable_out_id" name="responsable">
				        		<div class="space"></div>
							  	<ion-list-header class="on-list-header">
							    	-Responsable del menor a la salida del colegio
							  	</ion-list-header>
							  	<ion-item class="item_form m_t">
							    	<ion-label>Yo</ion-label>
							    	<ion-radio value="{{ userDetails.id }}"></ion-radio>
							  	</ion-item>
							  	<ion-item class="item_form m_t" *ngFor="let f of f.family">
							    	<ion-label>{{ f.userInfo.name }}</ion-label>
							    	<ion-radio value="{{ f.userInfo.id }}"></ion-radio>
							  	</ion-item>
							</ion-list>	 -->
						</div>
				        <div class="space"></div>
				        <ion-input type="hidden" name="fa_id" value="{{ fa.id }}"></ion-input>
				        <ion-input type="hidden" name="school_id" value="{{ school_id }}"></ion-input> 
				        <ion-input type="hidden" name="avatar" value="{{ avatar_item }}"></ion-input> 
				        <ion-input type="hidden" name="responsable_in_id" value="{{ fa.responsable_in_id }}"></ion-input>
				        <ion-input type="hidden" name="responsable_out_id" value="{{ fa.responsable_out_id }}"></ion-input>
				        <ion-input type="hidden" name="menor_age_input" value="{{ fa.younger }}"></ion-input>
				        <ion-input type="hidden" name="born_date" value="{{ fa.born_date }}"></ion-input>
				        <button ion-button type="submit" block color="primary">Editar familiar</button>
				        <div class="space"></div>
				    </form>
    			</ion-col>
    		</ion-row>
    	</ion-grid>
    </div>
    <div id="las_pu">
        <ion-grid no-padding id="grid3">
            <ion-row no-padding align-items-center>
                <ion-col col-3 id="pad-5">
                    <p>Nice job</p>
                </ion-col>
                <ion-col class="div_img" col-6>
                    <p>This is a 468x60 test ad.</p>
                </ion-col>
                <ion-col class="div_img" col-3>
                    <img src="../../assets/imgs/tab2@3x.png" class="img_icon">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
