page-food-calendar {
	.row_days{
		background: #3FBDEA;
    	padding: 5px;
	}

	.row_week_1{
		padding: 5px;
	    background: #007794;
	    color: white;
	}

	.row_week_2{
		padding: 5px;
    	background: #3FBDEA;
    	color: white;
	}
}
